{% extends 'layouts/base.html' %}
{% load forms static %}

{% block content %}

  <form id="vue-form" action="." method="post">
    {% csrf_token %}
    {% hybrid_form form %}
    <div class="mt-4">
      <button type="submit" class="btn btn-primary me-2">Save</button>
      {% if object.pk %}
        <a href="{% url 'recipes:delete' object.pk %}" class="btn btn-danger">Delete</a>
      {% endif %}
    </div>
  </form>

{% endblock content %}

{% block bottom_script %}
  {{ block.super }}
  <script src="{% static 'dist/js/forms.min.js' %}"></script>
  <script>
    SetupForms({
      csrfToken: '{{ csrf_token }}',
      conditional: {
      {{ form.diet_types.name }}: {
          parent: '{{ form.is_diet_friendly.name }}',
          event: 'change',
          condition: (value) => value === 'true',
        },
      },
    });
  </script>
{% endblock %}
